[submodule "oneTBB"]
	path = oneTBB
	url = https://github.com/oneapi-src/oneTBB.git
[submodule "eigen"]
	path = eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "opencv3_4_20"]
	path = opencv3_4_20
	url = https://github.com/opencv/opencv.git
[submodule "opencv_contrib3_4_20"]
	path = opencv_contrib3_4_20
	url = https://github.com/opencv/opencv_contrib.git
[submodule "glog_0_6_0"]
	path = glog_0_6_0
	url = https://github.com/google/glog.git
[submodule "gflags_2_2_2"]
	path = gflags_2_2_2
	url = https://github.com/gflags/gflags.git
[submodule "ceres-solver_2.2.0"]
	path = ceres-solver_2.2.0
	url = https://github.com/ceres-solver/ceres-solver.git
[submodule "gtsam_4_2_0"]
	path = gtsam_4_2_0
	url = https://github.com/borglab/gtsam.git
[submodule "boost_1_78_0"]
	path = boost_1_78_0
	url = https://github.com/boostorg/boost.git
[submodule "gtsam_dev_ba23e45"]
	path = gtsam_dev_ba23e45
	url = https://github.com/borglab/gtsam.git
